services:

  web:
    build: .
    container_name: django_app
    ports:
      - "8000:8000"
    volumes:
      - ./TicketingSystem:/app
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env

  db:
    image: postgres:18
    container_name: postgres_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped

  frontend:
    build:
      context: ./Frontend/ticketing-system
      dockerfile: Dockerfile
    container_name: ticketing-system-ui
    image: nextjs-dev
    ports:
      - "3000:3000"
    volumes:
      - ./Frontend/ticketing-system:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
    environment:
      - NODE_ENV=development





volumes:
  postgres_data: