services:

  web:
    build: .
    container_name: django_app
    ports:
      - "8000:8000"
    volumes:
      - ./TicketingSystem:/app
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env

  db:
    image: postgres:18
    container_name: postgres_db
    volumes:
      - postgres_data:/var/lib/postgresql
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    restart: unless-stopped




volumes:
  postgres_data: